.detailPage {
  header {
    width: 100%;
    background-color: aliceblue;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
  }
  .detailPageContainer {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
  }
}